<mat-toolbar >
    <span>My Trading Journal <mat-icon>library_books</mat-icon> </span>
    <span class="spacer"></span>
    <button mat-button type="button" (click)="mainpage()"><mat-icon>home</mat-icon>Home</button>
    <button mat-button type="button" (click)="getQuotes()"><mat-icon>timeline</mat-icon>Quotes</button>
    <button mat-button type="button" (click)="contactus()"><mat-icon>contact_support</mat-icon>Contact Us</button>
    <button mat-button type="button" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
</mat-toolbar>




<div class="map-container">
    <div class="map-frame">
    <div id="map"></div>
    </div>

    <br>
    <div>
        <mat-icon>phone</mat-icon><span class="aligned-with-icon">+65 61403054</span>  
    </div>
    <div>
        <mat-icon>email</mat-icon><span class="aligned-with-icon"> mytradingjournal@gmail.com</span>
    </div>
    <div>
        <mat-icon>location_on</mat-icon><span class="aligned-with-icon">25 Heng Mui Keng Terrace, Institute of Systems Science</span>  
    </div>
    <div>
        <mat-icon>access_time_icon</mat-icon><span class="aligned-with-icon">Monday - Friday: 9:00am to 5:00pm (Closed on weekend and Public Holiday)</span>  
    </div>
  

</div>

<!-- <mat-card>
    <mat-card-content>
      <mat-icon>location_on</mat-icon>
      <span>25 Heng Mui Keng Terrace, Institute of Systems Science</span>
    </mat-card-content>
  </mat-card> 
    <p>Address: 25 Heng Mui Keng Terrace, Institute of Systems Science</p>
    <p>Contact Number: +65 61403054</p>
    <p>Email: mytradingjournal@gmail.com</p>-->
    
      


