<mat-toolbar >
    <span>My Trading Journal </span>
    <span class="spacer"></span>
    <button mat-button type="button" (click)="mainpage()">Home</button>
    <button mat-button type="button" (click)="getQuotes()">Quotes</button>
    <button mat-button type="button" (click)="contactus()">Contact Us</button>
    <button mat-button type="button" (click)="logout()">Logout</button>
</mat-toolbar>




<div class="map-container">
    <div class="map-frame">
    <div id="map"></div>
    </div>
    <br>
    <div>
        <mat-card-content>
            <mat-icon>location_on</mat-icon>
            <span>25 Heng Mui Keng Terrace, Institute of Systems Science</span>
        </mat-card-content>
    </div>
    <br>
    <div>
        <mat-card-content>
            <mat-icon>phone</mat-icon>
            <span> +65 61403054</span>
        </mat-card-content>
    </div>
    <br>
    <div>
        <mat-card-content>
            <mat-icon>email</mat-icon>
            <span> mytradingjournal@gmail.com</span>
          </mat-card-content>
    </div>

</div>

<!-- <mat-card>
    <mat-card-content>
      <mat-icon>location_on</mat-icon>
      <span>25 Heng Mui Keng Terrace, Institute of Systems Science</span>
    </mat-card-content>
  </mat-card> 
    <p>Address: 25 Heng Mui Keng Terrace, Institute of Systems Science</p>
    <p>Contact Number: +65 61403054</p>
    <p>Email: mytradingjournal@gmail.com</p>-->
    
      


