<mat-toolbar class="header">
    <mat-toolbar-row>
        <span>My Trading Journal <mat-icon>library_books</mat-icon></span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="background-image">
<div class="container">
    <mat-card class="card">
      <div>
        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>
      </div>  
      <br>

      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="login()">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
  
          <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
          </mat-form-field>

          <div>
            <button mat-raised-button color="primary" type="submit"><mat-icon>lock</mat-icon>Login</button>
          </div>
          
        </form>

        <div class="register">
          <p>Don't have an account yet?</p>
        </div>
        <div class="register-one">
        <button mat-button color="accent" [routerLink]="['/register']">Register with us!</button>
        </div>
      
        
        
      </mat-card-content>
    </mat-card>
  
   
</div>


</div>



<!-- DRAFT -->

<!-- <form [formGroup]="form" (ngSubmit)="login()">

    <table>
        <tr>
            <td>Email:</td>
            <td><input type="text" formControlName="email" size="30"></td>
        </tr>


        <tr>
            <td>Password:</td>
            <td><input type="password" formControlName="password" size="30"></td>
        </tr>

        <tr>
            <td></td>
            <td><button type="submit">Login</button></td>
        </tr>

    </table>

</form>

<div>
    <p>Create Acccount:</p>
    <button type="button" [routerLink]="['/register']">Register</button>
</div> -->
