.calendar {
  flex-grow: 1;
  margin: 0;
  padding: 0 2em;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: .9em;
    
}

.pnl{
  text-align-last: center;
  font-weight: bold;
}

.mat-toolbar {
  /* background-color: #FFD700; */
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #0C243C; 
  color:#FFFFFF;
  font-family: 'Helvetica', sans-serif  ;
  font-size: 25px ;
}

.mat-toolbar span {
  font-size: 24px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

button {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 8px;
  margin-right: 8px;
  text-transform: uppercase;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}