.calendar {
    flex-grow: 1;
    margin: 0;
    padding: 0 2em;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: .9em;
    
}

.spacer {
    flex: 1 1 auto;
}

.logout-button {
    display: flex;
    align-items: center;
  }
  
.logout-button .icon {
    margin-right: 8px;
  }