<!-- <p>Only enter the entry after you have closed all your position </p> -->

<mat-toolbar >
    <span>My Trading Journal </span>
    <span class="spacer"></span>
    <button mat-button type="button" (click)="mainpage()">Home</button>
    <button mat-button type="button" (click)="getQuotes()">Quotes</button>
    <button mat-button type="button" (click)="logout()">Logout</button>
</mat-toolbar>
<br>
<br>

<div class='calendar'>
    <full-calendar [options]='calendarOptions' #calendar>
    <ng-template #eventContent let-arg>
        
           <b> {{ arg.event.extendedProps.pnl}} </b>
           
    </ng-template>
    </full-calendar>
</div>


<!-- The "extendedProps" property is an object that 
allows you to add custom properties to the event object, 
which can then be accessed and used in various ways when rendering the events. -->