<mat-toolbar >
    <span>My Trading Journal <mat-icon>library_books</mat-icon> </span>
    <span class="spacer"></span>
    <button mat-button type="button" (click)="mainpage()">Home<mat-icon>home</mat-icon></button>
    <button mat-button type="button" (click)="getQuotes()">Quotes<mat-icon>timeline</mat-icon></button>
    <button mat-button type="button" (click)="contactus()">Contact Us<mat-icon>contact_support</mat-icon></button>
    <button mat-button type="button" (click)="logout()">Logout<mat-icon>exit_to_app</mat-icon></button>
</mat-toolbar>


<div class="background-image">
    <div class="container">
<mat-card class="card">
    <mat-card-title>Quotes for: {{quotes.symbol}}</mat-card-title>
  
    <mat-divider></mat-divider>
  
    <div class="quote-container">
      <p>Last Price: {{"$" +quotes.lastPrice.toFixed(2)}}</p>
      <p>Open Price: {{"$" +quotes.openPrice.toFixed(2)}}</p>
      <p>Close Price: {{"$" +quotes.closePrice.toFixed(2)}}</p>
      <p>High Price: {{"$" +quotes.highPrice.toFixed(2)}}</p>
      <p>Low Price: {{"$" +quotes.lowPrice.toFixed(2)}}</p>
      <p>Net Change: {{quotes.netChange < 0 ? "-$" + ((-1)*(quotes.netChange)).toFixed(2) : "$" + quotes.netChange.toFixed(2)}}</p>
      <p>Total Volume: {{quotes.totalVolume.toLocaleString()}}</p>
      <p>52 Week High: {{"$" +quotes.FiftyTwoWkHigh.toFixed(2)}}</p>
      <p>52 Week Low: {{"$" +quotes.FiftyTwoWkLow.toFixed(2)}}</p>
    </div>
</mat-card>
</div>
</div>
<!-- <div>
       

    <h2>Quotes for: {{quotes.symbol}}</h2>

    <p> Last Price: {{"$" +quotes.lastPrice.toFixed(2)}}</p>
    <p> Open Price: {{"$" +quotes.openPrice.toFixed(2)}}</p>
    <p> Close Price: {{"$" +quotes.closePrice.toFixed(2)}}</p>
    <p> High Price: {{"$" +quotes.highPrice.toFixed(2)}}</p>
    <p> Low Price: {{"$" +quotes.lowPrice.toFixed(2)}}</p>
    <p> Net Change: {{"$" +quotes.netChange.toFixed(2)}}</p>
    <p> Total Volume: {{quotes.totalVolume.toLocaleString()}}</p>
    <p> 52 Week High: {{"$" +quotes.FiftyTwoWkHigh.toFixed(2)}}</p>
    <p> 52 Week Low: {{"$" +quotes.FiftyTwoWkLow.toFixed(2)}}</p>


</div> -->

