.mat-toolbar {
   /* background-color: #FFD700; */
   height: 64px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 16px;
   background-color: #0C243C; 
   color:#FFFFFF;
   font-family: 'Helvetica', sans-serif  ;
   font-size: 25px ;
}

.mat-toolbar span {
font-size: 24px;
font-weight: bold;
}

.spacer {
flex: 1 1 auto;
}

button {
font-size: 18px;
font-weight: 500;
color: #ffffff;
margin-left: 8px;
margin-right: 8px;
text-transform: uppercase;
}

button:hover {
background-color: rgba(255, 255, 255, 0.1);
}


mat-card {
margin: auto;
max-width: 600px;
padding: 20px;
}

.quote-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.quote-container p {
flex-basis: calc(50% - 20px);
margin: 0;
padding: 10px 0;
text-align: left;
}

@media screen and (max-width: 600px) {
.quote-container p {
    flex-basis: 100%;
}
}


.background-image {
    background-image: url('../../assets/images/stocks.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    
}

.card {
    max-width: 400px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    color:aliceblue;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}