<mat-toolbar>
    <span>My Trading Journal <mat-icon>library_books</mat-icon></span>
    <span class="spacer"></span>
    <button mat-button type="button" (click)="logout()"><mat-icon>backspace</mat-icon>Back</button>
</mat-toolbar>

<div class="background-image">
    <div class="container">
        <mat-card class="card">
            <div>
                <mat-card-header>
                    <mat-card-title>Create An Account</mat-card-title>
                </mat-card-header>
            </div>  
            <br>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="process()">

                    <mat-form-field appearance="fill">
                    <mat-label>Enter Name</mat-label>
                    <input matInput formControlName="name">
                    </mat-form-field>
                
                    <mat-form-field appearance="fill">
                    <mat-label>Enter Email</mat-label>
                    <input matInput formControlName="email">
                    </mat-form-field>
                
                    <mat-form-field appearance="fill">
                    <mat-label>Enter Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    </mat-form-field>
                
                    <button mat-raised-button color="primary" type="submit"><mat-icon>person_icon</mat-icon>Register</button>
                
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- <form [formGroup]="form" (ngSubmit)="process()">

    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" formControlName="name" size="30"></td>
        </tr>

        <tr>
            <td>Email:</td>
            <td><input type="text" formControlName="email" size="30"></td>
        </tr>


        <tr>
            <td>Password:</td>
            <td><input type="password" formControlName="password" size="30"></td>
        </tr>

        <tr>
            <td></td>
            <td><button type="submit">Register</button></td>
        </tr>

    </table>

</form> -->

