<p>Register Your Account</p>

<form [formGroup]="form" (ngSubmit)="process()">

    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" formControlName="name" size="30"></td>
        </tr>

        <tr>
            <td>Email:</td>
            <td><input type="text" formControlName="email" size="30"></td>
        </tr>


        <tr>
            <td>Password:</td>
            <td><input type="password" formControlName="password" size="30"></td>
        </tr>

        <tr>
            <td></td>
            <td><button type="submit">Register</button></td>
        </tr>

    </table>

</form>

