<!-- <p>Get Live Quotes!</p> -->
<mat-toolbar >
    <span>My Trading Journal <mat-icon>library_books</mat-icon> </span>
    <span class="spacer"></span>
    <button mat-button type="button" (click)="mainpage()"><mat-icon>home</mat-icon>Home</button>
    <button mat-button type="button" (click)="getQuotes()"><mat-icon>timeline</mat-icon>Quotes</button>
    <button mat-button type="button" (click)="contactus()"><mat-icon>contact_support</mat-icon>Contact Us</button>
    <button mat-button type="button" (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
</mat-toolbar>
<!-- <br>
<br> -->

<!-- 
<form [formGroup]="form" (ngSubmit)="process()">

    <table>
        <tr>
            <td>Get your quotes here:</td>
            <td><input type="text" formControlName="ticker" size="30" placeholder="Enter Ticker"></td>
        </tr>

        <tr>
            <td></td>
            <td><button mat-raised-button color="primary" type="submit">Search</button></td>
        </tr>

    </table>

</form> -->

<div class="container">
    
    <div>
    <mat-card-header>
        <mat-card-title>Get the latests stock prices here!</mat-card-title>
    </mat-card-header>
    </div>  
    <br>
    <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="process()">
        <mat-form-field>
        <input type="text" matInput placeholder="Enter Ticker" formControlName="ticker">
        </mat-form-field>


        <div>
        <button mat-raised-button color="primary" type="submit">Search</button>
        </div>
        
    </form>
    </mat-card-content>
</div>
