<mat-toolbar >
    <span>My Trading Journal </span>
    <span class="spacer"></span>
    <button mat-button type="button" (click)="mainpage()">Home</button>
    <button mat-button type="button" (click)="getQuotes()">Quotes</button>
    <button mat-button type="button" (click)="logout()">Logout</button>
</mat-toolbar>
<br>
<br>



<div class="card-container tile-content">
 
    <div *ngFor="let j of journalList">
        <mat-card class="mb journal-card tile-margin">
            
            <mat-card-header class="space-apart">
                <mat-card-title>Symbol: {{j.symbol | uppercase}}</mat-card-title>
                <!-- <mat-card-subtitle> {{j.uuid}} </mat-card-subtitle> -->
                <span class="spacer"></span>
                <button matSuffix mat-icon-button aria-label="Delete" type="button" (click)="deleteJournal(j)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-header>


            <mat-divider></mat-divider>
            <p>Quantity: {{j.quantity}}</p> 
         
            <p>Position: {{j.position}}</p>
        
            <p>Trade Type: {{j.tradeType}}</p>
         
            <p>Entry Price: {{"$" +j.entryPrice}}</p>
         
            <p>Exit Price: {{"$" + j.exitPrice}}</p>
          
            <p>Entry Date: {{j.entryDate}}</p>

            <p>Exit Date: {{j.exitDate}}</p>
          
            <p>PnL: {{j.pnl < 0 ? "-$" + (j.pnl)*(-1) : "$" + j.pnl}}</p>
           
            <p>Comments: {{j.comments}} </p>
            <mat-divider></mat-divider>
            <img mat-card-image class="card-image" [src]="j.imageUrl" *ngIf="j.imageUrl">

        </mat-card>
    </div>
</div>

